<% provide(:tab_id, @board ? @board.name : "Uncategorized") -%>
<input id=showhide_pinned type=checkbox />
<div class=stream id=stream>
    <div class=backlog_area id=backlog_area>
        <% if @posts and @posts.length >= (@board ? @board.ppp : 50) -%>
        <button class=backlog_button type=button onclick="return false;">Backlog</button>
        <% end -%>
    </div>
    <div class=error_area id=backlog_error></div>
    <div class=post_list id=stream_post_list>
    <% for p in @posts || [] -%>
        <%= render template: 'post/_view', formats: [:xml], locals: {post: p, pinned: false, user: @user} %>
    <% end -%>
    </div>
    <div class=error_area id=update_error></div>
    <div class=new_post_form id=stream_post_form>
    <%= form_tag '/post/new', id: 'new_post_form' do -%>
        <textarea name=content tabindex=1 id=new_post_content autofocus></textarea>
        <button type=submit tabindex=2 id=new_post_submit>Post</button>
        <% if @board -%>
            <input type=hidden name=board value="<%= @board.id %>"/>
        <% end -%>
    <% end -%>
    </div>
    <br>
</div>
<div class=pinned_posts>
    <div class=post_list id=pinned_post_list>
    <% for p in @pinned || [] -%>
        <%= render template: 'post/_view', formats: [:xml], locals: {post: p, pinned: true, user: @user} %>
    <% end -%>
    </div>
</div>
<div id=showhide_pinned_area>
    <label for=showhide_pinned>
        <div><span></span></div>
    </label>
</div>
<script>
    <% lastpost = Post.last -%>
    <% settings = SiteSettings.first_or_create -%>
    $(document).ready(function(){
        var updater = new Updater (
            <%= @posts.first ? @posts.first.id : 0 %>,
            <%= lastpost ? lastpost.id : 0 %>,
            <%= @board ? @board.id : 'null' %>,
            <%= settings.min_update_interval %>,
            <%= settings.max_update_interval %>
        );
        <%# Set this with javascript so it works non-remotely when there's no script. %>
        //$('#new_post_form').attr('data-remote', 'true');
        scroll_to_bottom($('#stream'));
    })
</script>
