<% provide(:tab_id, @board ? @board.name : "Uncategorized") -%>
<div class=stream id=stream>
    <div class=backlog_area id=backlog_area>
        <% if @posts and @posts.length >= (@board ? @board.ppp : 50) -%>
        <button class=backlog_button type=button onClick="ajaxifier.request_backlog()">Backlog</button>
        <% end -%>
    </div>
    <div class=error_area id=backlog_error></div>
    <div class=post_list id=stream_post_list>
    <% for p in @posts || [] -%>
        <%= render partial: '/post/view.xml.erb', locals: {post: p, pinned: false, user: @user} %>
    <% end -%>
    </div>
    <div class=error_area id=update_error></div>
    <div class=new_post_form id=stream_post_form>
    <%= form_tag('/post/new') do -%>
        <textarea name=content tabindex=1 id="content" autofocus></textarea>
        <button type=submit tabindex=2 id="submit">Post</button>
        <% if @board -%>
            <input type=hidden name=board value="<%= @board.id %>"/>
        <% end -%>
    <% end -%>
    </div>
    <br>
</div>
<div class=pinned_posts>
    <div class=post_list id=pinned_post_list>
    <% for p in @pinned || [] -%>
        <%= render partial: '/post/view.xml.erb', locals: {post: p, pinned: true, user: @user} %>
    <% end -%>
    </div>
</div>
<script>
    <% lastpost = Post.last -%>
    var ajaxifier = get_ajaxifier(
        document,
        <%= lastpost ? lastpost.id : 0 %>,
        <%= @posts.first ? @posts.first.id : 0 %>,
        <%= @board ? @board.id : 'null' %>
    );
    ajaxifier.scroll_stream();
    ajaxifier.start_updating();
</script>
