<% provide(:in_board, true) -%>
<% provide(:board_name, "_SETTINGS") -%>
<div class=settings_page>
    <div class=section>
    <div class=section_heading>Profile</div>
        <%= form_tag '/user/edit', class: 'profile_form' do %>
            <input type=hidden name=id value="<%= @user.id %>" />
            <div>
                <label for=email>Email address:</label>
                <input type=text name=email value="<%= @user.email %>" />
            </div>
            <div>
                <label for=name>Visible name:</label>
                <input type=text name=name value="<%= @user.name %>" />
            </div>
            <button class=change_button type=submit>Change</button>
        <% end -%>
    </div>
<% if @user.can_edit_boards -%>
    <div class=section>
        <div class=section_heading>Boards</div>
        <div class="board_row boards_header">
            <div class=board_id>ID</div>
            <div class=board_name>Name</div>
        </div>
        <% for t in @boards -%>
        <%= form_tag '/board/edit' do %>
        <div class=board_row>
            <div class=board_id><%=t.id%>
                <input type=hidden name=id value="<%=t.id%>"/>
            </div>
            <div class=board_name>
                <input type=text name=name value="<%=t.name%>"/>
            </div>
            <div class=board_order>
                <input type=number name=order value="<%=t.order%>"/>
            </div>
            <button name=do value=change>Change</button>
            <button name=do value=delete>Delete</button>
        </div>
        <% end -%>
        <% end -%>
        <%= form_tag '/board/new' do %>
        <div class=board_row>
            <div class=board_id>New</div>
            <div class=board_name>
                <input type=text name=name />
            </div>
            <div class=board_order>
                <input type-number name=order value="0.0"/>
            </div>
            <button type=submit>Create</button>
        </div>
        <% end -%>
    </div>
<% end -%>
<% if @user.can_confirm_users or @user.can_edit_users -%>
    <div class=section>
    <% if @unconfirmed_users.length > 0 -%>
        <div class=section_heading>Invitation Requests</div>
        <div class="user_row user_header">
            <div class=user_id>ID</div>
            <div class=user_email>email</div>
            <div class=user_name>name</div>
        </div>
        <% for u in @unconfirmed_users -%>
        <%= form_tag '/user/confirm' do %>
        <div class=user_row>
            <div class=user_id><%=u.id%></div>
                <input type=hidden name=id value="<%=u.id%>"/>
            <div class=user_email><%=u.email%></div>
            <div class=user_name><%=u.name%></div>
            <button name=do value=confirm>Confirm</button>
            <button name=do value=deny>Deny</button>
        </div>
        <% end -%>
        <% end -%>
    <% else -%>
        <div class=section_heading>No Invitation Requests</div>
    <% end -%>
    </div>
<% end -%>
<% if @user.can_change_site_settings -%>
    <% settings = SiteSettings.first_or_create -%>
    <div class=section>
    <div class=section_heading>Mail settings</div>
        <%= form_tag '/main/mail_settings', class: 'mail_settings_form' do %>
            <div>
                <label for=enable_mail>Enable Mailing Posts</label>
                <input type=checkbox id=enable_mail name=enable_mail <%=settings.enable_mail ? 'checked' : ''%> />
            </div>
            <div>
                <label for=smtp_server>SMTP Server:</label>
                <input type=text id=smtp_server name=smtp_server value="<%=settings.smtp_server || ''%>" />
            </div>
            <div>
                <label for=smtp_port>Port:</label>
                <input type=number id=smtp_port name=smtp_port value="<%=settings.smtp_port || ''%>" />
            </div>
            <div>
                <label for=smtp_auth>Authentication Method:</label>
                <select id=smtp_auth name=smtp_auth>
                    <option value=plain <%=settings.smtp_auth == 'plain' ? 'selected' : ''%> />plain</option>
                    <option value=login <%=settings.smtp_auth == 'login' ? 'selected' : ''%> />login</option>
                    <option value=cram_md5 <%=settings.smtp_auth == 'cram_md5' ? 'selected' : ''%> />cram_md5</option>
                </select>
            </div>
            <div>
                <label for=smtp_username>Username:</label>
                <input type=text id=smtp_username name=smtp_username value="<%=settings.smtp_username || ''%>" />
            </div>
            <div>
                <label for=smtp_password>Password:</label>
                <input type=password id=smtp_password name=smtp_password value="<%=settings.smtp_password || ''%>" />
            </div>
            <div>
                <label for=smtp_starttls_auto>Enable StartTLS Auto:</label>
                <input type=checkbox id=smtp_starttls_auto name=smtp_starttls_auto <%=settings.smtp_starttls_auto ? 'checked' : ''%> />
            </div>
            <div> 
                <label for=smtp_ssl_verify>OpenSSL Verify Mode:</label>
                <select id=smtp_ssl_verify name=smtp_ssl_verify>
                    <option value=none <%=settings.smtp_ssl_verify == 'none' ? 'selected' : ''%> />none</option>
                    <option value=peer <%=settings.smtp_ssl_verify == 'peer' ? 'selected' : ''%> />peer</option>
                    <option value=client_once <%=settings.smtp_ssl_verify == 'client_once' ? 'selected' : ''%> />client_once</option>
                    <option value=fail_if_no_peer_cert <%=settings.smtp_ssl_verify == 'fail_if_no_peer_cert' ? 'selected' : ''%> />fail_if_no_peer_cert</option>
                </select>
            </div>
            <button class=change_button type=submit>Change</button>
            <div>
                <label for=send_test_to>Send test mail to:</label>
                <input type=text id=send_test_to name=send_test_to value="<%=settings.send_test_to%>" />
                <button name=do value=send_test>Send</button>
            </div>
        <% end -%>
    </div>
<% end -%>
</div>
<div class=section>
<div class=section_heading>Manage User Permissions</div>

    <% for u in User.all do-%>
        <% if u.visible_name || u.email %>
            <div class=section>
            <div class=section_heading><%= u.email %></div>
            Can Edit Boards: <%= u.can_edit_boards ? "yes" : "no" %> <br>
            Can Edit Posts: <%= u.can_edit_posts ? "yes" : "no" %> <br>
            Can Edit Users: <%= u.can_edit_users ? "yes" : "no" %> <br>
            Can Mail Posts: <%= u.can_mail_posts ? "yes" : "no" %> <br>
            Can Confirm Users: <%= u.can_confirm_users ? "yes" : "no" %><br>
            Can Change Appearance: <%= u.can_change_appearance ? "yes" : "no" %><br>
            Can Change Site Settings: <%= u.can_change_site_settings ? "yes" : "no" %><br>
        <% end %>
        </div>
    <% end %>

</div>
