<% provide(:in_board, true) -%>
<% provide(:board_name, "_SETTINGS") -%>
<div class=settings_page>
    <div class=section>
    <div class=section_heading>Profile</div>
        <%= form_tag '/user/edit', action: 'POST', class: 'profile_form' do %>
            <input type=hidden name=id value="<%= @user.id %>" />
            <div>
                <label for=email>Email address:</label>
                <input type=text name=email value="<%= @user.email %>" />
            </div>
            <div>
                <label for=name>Visible name:</label>
                <input type=text name=name value="<%= @user.name %>" />
            </div>
            <button type=submit>Change</button>
        <% end -%>
    </div>
<% if @user.can_edit_boards -%>
    <div class=section>
        <div class=section_heading>Boards</div>
        <div class="board_row boards_header">
            <div class=board_id>ID</div>
            <div class=board_name>Name</div>
        </div>
        <% for t in @boards -%>
        <%= form_tag '/board/edit',  action: 'POST' do %>
        <div class=board_row>
            <div class=board_id><%=t.id%>
                <input type=hidden name=id value="<%=t.id%>"/>
            </div>
            <div class=board_name>
                <input type=text name=name value="<%=t.name%>"/>
            </div>
            <div class=board_order>
                <input type=number name=order value="<%=t.order%>"/>
            </div>
            <button name=do value=change>Change</button>
            <button name=do value=delete>Delete</button>
        </div>
        <% end -%>
        <% end -%>
        <%= form_tag '/board/new', action: 'POST' do %>
        <div class=board_row>
            <div class=board_id>New</div>
            <div class=board_name>
                <input type=text name=name />
            </div>
            <div class=board_order>
                <input type-number name=order value="0.0"/>
            </div>
            <button type=submit>Create</button>
        </div>
        <% end -%>
    </div>
<% end -%>
<% if @user.can_confirm_users or @user.can_edit_users -%>
    <div class=section>
    <% if @unconfirmed_users.length > 0 -%>
        <div class=section_heading>Invitation Requests</div>
        <div class="user_row user_header">
            <div class=user_id>ID</div>
            <div class=user_email>email</div>
            <div class=user_name>name</div>
        </div>
        <% for u in @unconfirmed_users -%>
        <%= form_tag '/user/confirm', action: 'POST' do %>
        <div class=user_row>
            <div class=user_id><%=u.id%></div>
                <input type=hidden name=id value="<%=u.id%>"/>
            <div class=user_email><%=u.email%></div>
            <div class=user_name><%=u.name%></div>
            <button name=do value=confirm>Confirm</button>
            <button name=do value=deny>Deny</button>
        </div>
        <% end -%>
        <% end -%>
    <% else -%>
        <div class=section_heading>No Invitation Requests</div>
    <% end -%>
    </div>
<% end -%>
<% if @user.can_change_site_settings -%>
    <div class=section>
    <div class=section_heading>Site settings</div>
        <%= form_tag '/main/change_settings', class: 'site_settings_form' do %>
            <label for=frobnicate>Frobnicate Widgets</label>
            <% checked = SiteSettings.settings['frobnicate'] ? 'checked' : '' -%>
            <input type=checkbox id=frobnicate name=frobnicate <%=checked%>/>
            <button type=submit>Change</button>
        <% end -%>
    </div>
<% end -%>
</div>
