<% provide(:tab_id, "_SETTINGS") -%>
<% settings = SiteSettings.first_or_create -%>
<div class=settings_page>
    <div class=section>
        <input id=showhide_profile type=checkbox class=showhider checked />
        <label for=showhide_profile>
            <span class=section_heading>Profile</span>
        </label>
        <div class=section_content>
            <%= form_tag '/configure/profile', class: 'profile_form' do %>
                <input type=hidden name=id value="<%= @user.id %>" />
                <div>
                    <label for=email>Email address:</label>
                    <input type=text name=email value="<%= @user.email %>" />
                </div>
                <div>
                    <label for=name>Visible name:</label>
                    <input type=text name=name value="<%= @user.name %>" />
                </div>
                <button class=change_button type=submit>Change</button>
            <% end -%>
        </div>
    </div>
    <div class=section>
        <input id=showhide_sessions type=checkbox class=showhider checked />
        <label for=showhide_sessions>
            <span class=section_heading>Sessions</span>
        </label>
        <div class=section_content>
        <% no = 1 -%>
        <%= form_tag '/configure/a_session', class: 'sessions_form' do %>
        <% for s in Session.find_all_by_user_id(@user) -%>
            <div><%=no%>.
                IP Address: (NYI),
                Logged in: <%=s.created_at.in_time_zone('Pacific Time (US & Canada)').to_formatted_s(:short)%>,
                Last activity: <%=s.updated_at.in_time_zone('Pacific Time (US & Canada)').to_formatted_s(:short)%>
            </div>
            <div><%=s.user_agent%>
            <% if s.id == @session.id -%>
                (Current)
            <% else -%>
                <button name=logout value="<%=s.id%>">Log out</button>
            <% end -%>
            </div>
        <% no += 1 -%>
        <% end -%>
        <% end -%>
        </div>
    </div>
<% if @user.can_confirm_users or @user.can_edit_users -%>
    <div class=section>
        <% if @unconfirmed_users.length > 0 -%>
        <input id=showhide_requests type=checkbox class=showhider checked />
        <label for=showhide_requests>
            <span class=section_heading>Invitation Requests</span>
        </label>
        <div class=section_content>
            <div class=pseudo_table>
            <div class=pseudo_tr>
                <!-- Have to match that silly Rails hidden input div -->
                <div style="margin:0;padding:0;display:inline"></div>
                <div>ID</div>
                <div>email</div>
                <div>name</div>
            </div>
            <% for u in @unconfirmed_users -%>
            <%= form_tag '/configure/confirm', class: 'pseudo_tr' do %>
                <div><%=u.id%></div>
                    <input type=hidden name=id value="<%=u.id%>"/>
                <div><%=u.email%></div>
                <div><%=u.name%></div>
                <div><button name=do value=confirm>Confirm</button></div>
                <div><button name=do value=deny>Deny</button></div>
            <% end -%>
            <% end -%>
            </div>
        </div>
        <% else -%>
        <div class=section_heading>No Invitation Requests</div>
        <% end -%>
    </div>
<% end -%>
<% if @user.can_edit_boards -%>
    <div class=section>
        <input id=showhide_boards type=checkbox class=showhider <%= params['section'] == 'boards' ? 'checked' : ''%>/>
        <label for=showhide_boards>
            <span class=section_heading>Boards</span>
        </label>
        <div class=section_content>
            <div class=pseudo_table>
            <div class=pseudo_tr>
                <!-- Have to match that silly Rails hidden input div -->
                <div style="margin:0;padding:0;display:inline"></div>
                <div>ID</div>
                <div>Name</div>
                <div>Order</div>
                <div>Posts/Page</div>
            </div>
            <% for b in @boards -%>
            <%= form_tag '/configure/change_board', class: 'pseudo_tr' do %>
                <div><%=b.id%>
                    <input type=hidden name=id value="<%=b.id%>"/>
                </div>
                <div>
                    <input type=text name=name value="<%=b.name%>"/>
                </div>
                <div>
                    <input type=number name=order value="<%=b.order%>"/>
                </div>
                <div>
                    <input type=number name=ppp value="<%=b.ppp%>"/>
                </div>
                <div><button name=do value=change>Change</button></div>
            <% end -%>
            <% end -%>
            <%= form_tag '/configure/new_board', class: 'pseudo_tr' do %>
                <div>New</div>
                <div>
                    <input type=text name=name />
                </div>
                <div>
                    <input type=number name=order value="0.0"/>
                </div>
                <div>
                    <input type=number name=ppp value="50"/>
                </div>
                <div><button type=submit>Create</button></div>
            <% end -%>
            </div>
            <%= form_tag '/configure/merge_boards', class: 'merge_boards_form' do %>
            <div>
                <label for=merge_from>Merge</label>
                <select id=merge_from name=from>
                    <option value="" selected></option>
                <% for b in @boards -%>
                    <option value="<%=b.id%>"><%=b.name%></option>
                <% end -%>
                </select>
                <label for=merge_to>into</label>
                <select id=merge_to name=to>
                    <option value="" selected></option>
                <% for b in @boards -%>
                    <option value="<%=b.id%>"><%=b.name%></option>
                <% end -%>
                </select>
                <button type=submit>Merge</button>
            </div>
            <% end -%>
            <% if settings.last_merge_event -%>
            <%= form_tag '/configure/undo_last_merge' do %>
            <div>
                <button type=submit>Undo last merge</button>
            </div>
            <% end -%>
            <% end -%>
            <div class=section_sub_heading>Default boards</div>
            <%= form_tag '/configure/default_boards', class: 'default_boards_form' do %>
            <div>
                <label for=initial_board>After logging in, go to</label>
                <select id=initial_board name=initial_board>
                <% for b in @boards -%>
                    <option value="<%=b.id%>" <%= settings.initial_board == b.id ? 'selected' : ''%>><%=b.name%></option>
                <% end -%>
                </select>
            </div>
            <div>
                <label for=sitewide_event_board>Send site-wide events to</label>
                <select id=sitewide_event_board name=sitewide_event_board>
                <% for b in @boards -%>
                    <option value="<%=b.id%>" <%= settings.sitewide_event_board == b.id ? 'selected' : ''%>><%=b.name%></option>
                <% end -%>
                </select>
            </div>
            <button type=submit class=change_button>Change</button>
            <% end -%>
        </div>
    </div>
<% end -%>
<% if @user.can_change_site_settings -%>
    <% settings = SiteSettings.first_or_create -%>
    <div class=section>
        <input id=showhide_mail type=checkbox class=showhider <%= params['section'] == 'mail' ? 'checked' : ''%>/>
        <label for=showhide_mail>
            <span class=section_heading>Mail</span>
        </label>
        <div class=section_content>
        <%= form_tag '/configure/mail' do %>
            <div class=pseudo_table>
            <div class=pseudo_tr>
                <label for=enable_mail>Enable Mailing Posts</label>
                <div><input type=checkbox id=enable_mail name=enable_mail <%=settings.enable_mail ? 'checked' : ''%> /></div>
            </div>
            <div class=pseudo_tr>
                <label for=smtp_server>SMTP Server:</label>
                <div><input type=text id=smtp_server name=smtp_server value="<%=settings.smtp_server || ''%>" /></div>
            </div>
            <div class=pseudo_tr>
                <label for=smtp_port>Port:</label>
                <div><input type=number id=smtp_port name=smtp_port value="<%=settings.smtp_port || ''%>" /></div>
            </div>
            <div class=pseudo_tr>
                <label for=smtp_auth>Authentication Method:</label>
                <div><select id=smtp_auth name=smtp_auth>
                    <option value=plain <%=settings.smtp_auth == 'plain' ? 'selected' : ''%> />plain</option>
                    <option value=login <%=settings.smtp_auth == 'login' ? 'selected' : ''%> />login</option>
                    <option value=cram_md5 <%=settings.smtp_auth == 'cram_md5' ? 'selected' : ''%> />cram_md5</option>
                </select></div>
            </div>
            <div class=pseudo_tr>
                <label for=smtp_username>Username:</label>
                <div><input type=text id=smtp_username name=smtp_username value="<%=settings.smtp_username || ''%>" /></div>
            </div>
            <div class=pseudo_tr>
                <label for=smtp_password>Password:</label>
                <div><input type=password id=smtp_password name=smtp_password value="<%=settings.smtp_password || ''%>" /></div>
            </div>
            <div class=pseudo_tr>
                <label for=smtp_starttls_auto>Enable StartTLS Auto:</label>
                <div><input type=checkbox id=smtp_starttls_auto name=smtp_starttls_auto <%=settings.smtp_starttls_auto ? 'checked' : ''%> /></div>
            </div>
            <div class=pseudo_tr> 
                <label for=smtp_ssl_verify>OpenSSL Verify Mode:</label>
                <div><select id=smtp_ssl_verify name=smtp_ssl_verify>
                    <option value=none <%=settings.smtp_ssl_verify == 'none' ? 'selected' : ''%> />none</option>
                    <option value=peer <%=settings.smtp_ssl_verify == 'peer' ? 'selected' : ''%> />peer</option>
                    <option value=client_once <%=settings.smtp_ssl_verify == 'client_once' ? 'selected' : ''%> />client_once</option>
                    <option value=fail_if_no_peer_cert <%=settings.smtp_ssl_verify == 'fail_if_no_peer_cert' ? 'selected' : ''%> />fail_if_no_peer_cert</option>
                </select></div>
            </div>
            <div class=pseudo_tr>
                <label for=mail_from>From address:</label>
                <div><input class=long type=text id=mail_from name=mail_from value="<%=settings.mail_from || '"Example From" <from@example.com>'%>" /></div>
            </div>
            <div class=pseudo_tr>
                <label for=mail_subject_prefix>Subject prefix:</label>
                <div><input class=long type=text id=mail_subject_prefix name=mail_subject_prefix value="<%=settings.mail_subject_prefix || '[Comm Comm]'%>" /></div>
            </div>
            </div>
            <div><button class=change_button type=submit>Change</button></div>
                <label for=send_test_to>Send test mail to:</label>
                <input type=text id=send_test_to name=send_test_to value="<%=settings.send_test_to%>" />
                <button name=do value=send_test>Send</button>
            </div>
        <% end -%>
        </div>
    </div>
<% end -%>
<% if @user.can_edit_users -%>
    <div class=section>
        <input id=showhide_users type=checkbox class=showhider <%= params['section'] == 'users' ? 'checked' : ''%>/>
        <label for=showhide_users>
            <span class=section_heading>Users</span>
        </label>
        <div class=section_content>
        <div class=pseudo_table>
        <div class=pseudo_tr>
            <!-- Have to match that silly Rails hidden input div -->
            <div style="margin:0;padding:0;display:inline"></div>
            <div>ID</div>
            <div>Name</div>
            <div>Email</div>
            <div>A</div>
            <div>B</div>
            <div>C</div>
            <div>D</div>
            <div>E</div>
            <div>F</div>
            <div></div>
            <div></div>
        </div>
        <% for u in User.all -%>
        <%= form_tag '/configure/user', class: 'pseudo_tr' do -%>
            <div>
                <%=u.id%>
                <input type=hidden name=id value="<%=u.id%>"/>
            </div>
            <div>
                <input type=text name=name value="<%=u.name%>"/>
            </div>
            <div>
                <input type=text name=email value="<%=u.email%>"/>
            </div>
            <div>
                <input type=checkbox name=can_mail_posts <%=u.can_mail_posts != false ? 'checked' : ''%> />
            </div>
            <div>
                <input type=checkbox name=can_confirm_users <%=u.can_confirm_users ? 'checked' : ''%> />
            </div>
            <div>
                <input type=checkbox name=can_change_appearance <%=u.can_change_appearance ? 'checked' : ''%> />
            </div>
            <div>
                <input type=checkbox name=can_edit_boards <%=u.can_edit_boards ? 'checked' : ''%> />
            </div>
            <div>
                <input type=checkbox name=can_edit_users <%=u.can_edit_users ? 'checked' : ''%> />
            </div>
            <div>
                <input type=checkbox name=can_change_site_settings <%=u.can_change_site_settings ? 'checked' : ''%> />
            </div>
            <div>
                <button name=do value=change>Change</button>
            </div>
            <div>
                <button name=do value=remove>Remove</button>
            </div>
        <% end -%>
        <% end -%>
        </div>
    </div>
<% end -%>
</div>
