<div class=stream id=stream>
    <div class=post_list id=stream_post_list>
    <% for p in Post.order(:post_date) -%>
    <% owner = User.find_by_id(p.owner) -%>
    <% email = owner ? owner.email : '???' -%>
        <div class=post>
            <div class=post_info>
                <div class=post_id><%= p.id.to_s %> </div>
                <div class=post_owner><%= email %> </div>
                <div class=post_date><%= p.post_date.to_formatted_s(:long) %> </div>
            </div>
            <div class=post_content><%= p.content %></div>
        </div>
    <% end %>
    </div>
    <div class=new_post_form>
        <%= form_tag('/post/new') do -%>
            <textarea name=content></textarea>
            <button type=submit>Post</button>
        <% end %>
    </div>
    <br>
</div>
<script>
    var stream = document.getElementById('stream');
    stream.scrollTop = stream.scrollHeight;
</script>
<div class=pinned>
    <div class=post_list>
        <div class=post>
            <div class=post_info>
                <div class=post_id>-1</div>
                <div class=post_owner>The System</div>
                <div class=post_date>nowhen</div>
            </div>
            <div class=post_content>compare(EMACS, VIM) == NaN</div>
        </div>
    </div>
</div>
<script>
    var latest = <%= Post.last.id %>;
    function mycoolhandler () {
        if (this.readyState == this.DONE) {
            if (this.status == 200) {
                if (this.responseText != null) {
                    var html = (new DOMParser()).parseFromString(this.responseText, "text/html");
                    if (html == null) alert("WAT");
                    var stream_post_list = document.getElementById("stream_post_list");
                    var new_posts = html.getElementById("new_posts");
                    latest = parseInt(html.getElementById("new_latest").textContent);
                    while (new_posts.firstChild != null) {
                        stream_post_list.appendChild(new_posts.firstChild);
                    }
                }
            }
            setTimeout( "mycoolupdater()", 15000 );
        }
    }
    function mycoolupdater () {
        var client = new XMLHttpRequest();
        client.onreadystatechange = mycoolhandler;
        client.open("GET", "/post/list?since=" + latest);
        client.send();
    }
    setTimeout( "mycoolupdater()", 15000 );
</script>
