<% provide(:in_topic, true) -%>
<% provide(:topic_name, @topic ? @topic.name : "Uncategorized") -%>
<div class=stream id=stream>
    <div class=post_list id=stream_post_list>
    <% for p in @posts -%>
        <%= render 'post/view', post: p %>
    <% end -%>
    </div>
    <div class=new_post_form id=stream_post_form>
    <%= form_tag('/post/new') do -%>
        <textarea name=content tabindex=1 id=new_post_content autofocus></textarea>
        <button type=submit tabindex=2 id=new_post_submit>Post</button>
        <% if @topic -%>
            <input type=hidden name=topic value="<%= @topic.name %>"/>
        <% end -%>
    <% end -%>
    </div>
    <br>
</div>
<div class=pinned_posts>
    <div class=post_list id=pinned_post_list>
    <% for p in @pinned -%>
    <% owner = User.find_by_id(p.owner) -%>
    <% email = owner ? owner.email : '???' -%>
        <div class="post real_post">
            <div class=post_info>
                <div class=post_id><%= p.id.to_s %> </div>
                <div class=post_owner><%= email %> </div>
                <div class=post_date><%= p.post_date.to_formatted_s(:long) %> </div>
            </div>
            <div class=post_content><%= p.content %></div>
        </div>
    <% end -%>
    </div>
</div>
<script>
    var stream = document.getElementById('stream');
    var stream_post_list = document.getElementById('stream_post_list');
    function scroll_stream () {
        stream.scrollTop = stream.scrollHeight;
    }
    scroll_stream();

    var latest = <%= Post.last.id %>;
    function mycoolhandler () {
        if (this.readyState == this.DONE) {
            if (this.status == 200) {
                if (this.responseXML != null) {
                    html = this.responseXML;
                    var new_posts = html.getElementById("new_posts");
                    if (new_posts == null) {
                        alert("Uh oh, something went wrong when loading new posts.");
                    }
                    latest = parseInt(html.getElementById("new_latest").textContent);
                    var wants_scroll = (stream.scrollTop > stream.scrollHeight - stream.offsetHeight - 120);
                    var added_posts = false;
                    while (new_posts.firstChild != null) {
                        if (new_posts.firstChild.nodeType == new_posts.firstChild.ELEMENT_NODE)
                            added_posts = true;
                        stream_post_list.appendChild(new_posts.firstChild);
                    }
                    setTimeout( "mycoolupdater()", 5000 );
                    if (wants_scroll && added_posts) scroll_stream();
                }
                else {
                    alert("Uh oh, something went quite wrong when loading new posts.");
                    return;
                }
            }
            else {
                alert("There was an error when loading new posts.");
            }
        }
    }
    function mycoolupdater () {
        var client = new XMLHttpRequest();
        client.onreadystatechange = mycoolhandler;
        <% if @topic -%>
        client.open("GET", "/post/list?topic=<%= @topic.name %>&since=" + latest);
        <% else -%>
        client.open("GET", "/post/list?since=" + latest);
        <% end -%>
        client.send();
    }
    setTimeout( "mycoolupdater()", 5000 );
</script>
