<h2>Topic Stream</h2>

Currently logged in as: <b><%= @email %></b>
<hr>
<% for p in Post.order(:post_date).reverse -%>
<% owner = User.find_by_id(p.owner) -%>
<% email = owner ? owner.email : '???' -%>
    <div class='post'>
        <div class='post_content'>"<%= p.content %>" </div>
        <div class='post_date'><%= p.post_date %> </div>
        <div class='post_owner'><%= email %> </div>
        <div class='debug'>Debug: <%=" " +  p.id.to_s %> </div>
    </div>
<hr>
<% end %>

<%= form_tag('/post/new') do -%>
    <%= text_area_tag(:content) %>
    <%= submit_tag("Post") %>
<% end %>
<br>

