<% owner = User.find_by_id(post.owner) -%>
<% name = owner ? owner.name : '???' -%>
<% divclass = 'post' -%>
<% divclass += ' pinned' if post.pinned -%>
<% divclass += ' hidden' if post.hidden -%>
<% divclass += ' yelled' if post.yelled -%>
<% divclass += ' event' if post.is_event -%>
<% divclass += " by_" + post.owner.to_s -%>
    <div class="<%= divclass %>" id="editing_<%=post.id.to_s%>" xmlns="http://www.w3.org/1999/xhtml">
        <div class="post_info">
            <div class="post_id">(new)</div>
            <div class="post_owner"><%= user.name %></div>
            <div class="post_event">is editing <%= post.id.to_s %></div>
            <div class="post_date"></div>
        </div>
        <%= form_tag '/post/edit', class: 'post_edit_form' do %>
            <div class="post_edit_content">
                <input type="hidden" name="id" value="<%= post.id.to_s %>" />
                <textarea name="content"><%= post.content %></textarea>
                <button type="submit">Submit</button><button type="button" class="edit_cancel_button">Cancel</button>
            </div>
        <% end %>
    </div>
