<% owner = User.find_by_id(post.owner) -%>
<% name = owner ? owner.visible_name || owner.email : '???' -%>
<% divclass = post.pinned ? 'post pinned' : 'post' -%>
    <div class="<%= divclass %>">
        <div class="post_info">
            <div class="post_id"><%= post.id.to_s %> </div>
            <div class="post_owner"><%= name  %> </div>
            <div class="post_buttons">
            <% if post.pinned %>
                <%= form_tag '/post/unpin', action: 'POST' do -%>
                    <input type="hidden" name="id" value="<%= post.id %>" />
                    <button type="submit" class="unpin_button">⤺ Unpin</button>
                <% end -%>
            <% else -%>
                <%= form_tag '/post/pin', action: 'POST' do -%>
                    <input type="hidden" name="id" value="<%= post.id %>" />
                    <button type="submit" class="pin_button">⤻ Pin</button>
                <% end -%>
            <% end -%>
            </div>
            <div class="post_date"><%= post.created_at.to_formatted_s(:short) %> </div>
        </div>
        <div class="post_content"><%= post.content %></div>
    </div>
