<% owner = User.find_by_id(post.owner) -%>
<% name = owner ? owner.name : '???' -%>
<% divclass = 'post' -%>
<% divclass += ' pinned' if post.pinned -%>
<% divclass += ' hidden' if post.hidden -%>
<% divclass += ' yelled' if post.yelled -%>
<% divclass += ' event' if post.is_event -%>
<% divclass += " this_pins_" + post.reference.to_s if post.post_type == Post::PINNING -%>
<% divclass += " this_unpins_" + post.reference.to_s if post.post_type == Post::UNPINNING -%>
<% divclass += " this_yells_" + post.reference.to_s if post.post_type == Post::YELLING -%>
<% divclass += " this_unyells_" + post.reference.to_s if post.post_type == Post::UNYELLING -%>
<% divclass += " this_hides_" + post.reference.to_s if post.post_type == Post::HIDING -%>
<% divclass += " this_unhides_" + post.reference.to_s if post.post_type == Post::UNHIDING -%>
<% divid = (pinned ? "pinned_" : "post_") + post.id.to_s -%>
    <div class="<%= divclass %>" id="<%= divid %>">
        <div class="post_info">
            <div class="post_id"><%= post.id.to_s %></div>
            <div class="post_owner"><%= name %></div>
            <% if post.is_event -%>
            <div class="post_event"><%=raw post.event_string(user) %></div>
            <% end -%>
            <div class="post_buttons">
            <%= form_tag '/post/button' do %>
                <input type="hidden" name="id" value="<%= post.id %>" />
            <% if post.is_normal -%>
             <% post.hidden and -%>
                <button name="do" value="unhide" class="unhide_button">⊚ Unhide</button>
             <% post.is_hidable(user) and -%>
                <button name="do" value="hide" class="hide_button">⊗ Hide</button>
             <% post.yelled and -%>
                <button name="do" value="unyell" class="unyell_button">△ Unyell</button>
             <% !post.yelled and !post.hidden and -%>
                <button name="do" value="mail" class="mail_button">@ Mail</button>
             <% post.pinned and -%>
                <button name="do" value="unpin" class="unpin_button">⤺ Unpin</button>
             <% !post.hidden and !post.pinned and -%>
                <button name="do" value="pin" class="pin_button">⤻ Pin</button>
            <% end -%>
                <button class="reply_button" type="button" onClick="ajaxifier.reply_to_post(<%= post.id %>)">≫ Reply</button>
            <% end -%>
            </div>
            <div class="post_date"><%= post.created_at.in_time_zone('Pacific Time (US & Canada)').to_formatted_s(:short) %> </div>
        </div>
        <% unless post.hidden -%>
        <div class="post_content"><%=raw post.html_content(user) %></div>
        <% end -%>
    </div>
