<% owner = User.find_by_id(post.owner) -%>
<% name = owner ? owner.name : '???' -%>
<% divclass = 'post' -%>
<% divclass += ' pinned' if post.pinned -%>
<% divclass += ' hidden' if post.hidden -%>
<% divclass += ' yelled' if post.yelled -%>
<% divclass += ' event' if post.is_event -%>
<% divclass += " by_" + post.owner.to_s -%>
<% divid = (pinned ? "pinned_" : "post_") + post.id.to_s -%>
<% event_string = post.event_string(user) -%>
    <div class="<%= divclass %>" id="<%= divid %>">
        <div class="post_info">
            <div class="post_id"><%= post.id.to_s %></div>
            <div class="post_owner"><%= name %></div>
            <% if event_string -%>
            <div class="post_event"><%=raw post.event_string(user) %></div>
            <% end -%>
            <div class="post_buttons">
            <%= form_tag '/post/button' do %>
                <input type="hidden" name="id" value="<%= post.id %>" />
            <% if post.is_normal -%>
             <% if post.hidden -%>
                <button name="do" value="unhide" class="unhide_button">⊚ Unhide</button>
             <% end -%>
             <% if post.is_hidable(user) -%>
                <button name="do" id="hide_button_<%= post.id %>" value="hide" class="hide_button">⊗ Hide</button>
             <% end -%>
             <% if post.yelled -%>
                <button name="do" value="unyell" class="unyell_button">△ Unyell</button>
             <% end -%>
             <% if !post.yelled and !post.hidden -%>
                <button name="do" value="mail" class="mail_button">@ Mail</button>
             <% end -%>
             <% if post.pinned -%>
                <button type="button" onclick="return false" class="edit_button">⚒ Edit</button>
                <button name="do" value="unpin" class="unpin_button">⤺ Unpin</button>
             <% end -%>
             <% if !post.hidden and !post.pinned -%>
                <button name="do" value="pin" class="pin_button">⤻ Pin</button>
             <% end -%>
            <% end -%>
                <button class="reply_button" type="button" onClick="reply_to_post(<%= post.id %>);return false">≫ Reply</button>
            <% end -%>
            </div>
            <div class="post_date"><%= post.created_at.in_time_zone('Pacific Time (US & Canada)').to_formatted_s(:short) %> </div>
        </div>
        <% unless post.hidden -%>
        <div class="post_content"><%=raw post.html_content(user) %></div>
        <% end -%>
    </div>
