<?xml version="1.0"?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head><title>New post list for AJAX use</title></head>
<body>
    <div>
        <div id="new_posts" class="post_list">
        <% for p in @new_posts -%>
        <% owner = User.find_by_id(p.owner) -%>
        <% email = owner ? owner.email : '???' -%>
            <div class="post">
                <div class="post_info">
                    <div class="post_id"><%= p.id.to_s %> </div>
                    <div class="post_owner"><%= email %> </div>
                    <div class="post_date"><%= p.post_date.to_formatted_s(:long) %> </div>
                </div>
                <div class="post_content"><%= p.content %></div>
            </div>
        <% end -%>
        </div>
        <div id="new_latest"><%= Post.last.id -%></div>
    </div>
</body>
</html>
