<!DOCTYPE html>
<html>
<head>
    <title>Comm-Comm</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>
<% user = User.find_by_session(session['session_id']) -%>
<% identity = user ? user.visible_name || user.email : "not logged in." -%>
<% in_topic = yield(:in_topic) -%>
<% topic_name = yield(:topic_name) -%>
<div class=navigation>
    <div class=site_logo>Comm-Comm</div>
    <div class=you_are>You are:</div>
    <div class=identity><%=identity%></div>
    <% if user -%>
    <div class=logout><form action="/login/logout" method="post">
        <button type="submit">Log out</button>
    </form></div>
    <div class=topic_tabs>
        <% tabclass = (in_topic && topic_name == "Uncategorized") ? 'topic_tab current' : 'topic_tab' -%>
        <!--<%= in_topic %> <%= topic_name %>-->
        <a class="<%=tabclass%>" href="/main/topic">Uncategorized<span class=tab_indicator id=indicator_0>●</span></a>
    <% for t in Topic.all -%>
        <% tabclass = (in_topic && topic_name == t.name) ? 'topic_tab current' : 'topic_tab' -%>
        <a class="<%=tabclass%>" href="/main/topic?topic=<%=t.id%>"><%=t.name%><span class=tab_indicator id="indicator_<%=t.id%>">●</span></a>
    <% end -%>
        <% tabclass = (in_topic && topic_name == "_SETTINGS") ? 'topic_tab current settings_tab' : 'topic_tab settings_tab' -%>
        <a class="<%=tabclass%>" href="/main/settings">Settings<span class=tab_indicator id=indicator__SETTINGS>●</span></a>
    <% end -%>
    </div>
</div>
<div class=content>

<%= yield %>

</div>
</body>
</html>
