<!DOCTYPE html>
<html>
<head>
    <title>Comm-Comm</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>
<% user = User.find_by_session(session['session_id']) -%>
<% identity = user ? user.name : "not logged in." -%>
<% in_topic = yield(:in_topic) -%>
<% topic_name = yield(:topic_name) -%>
<% indicators = TopicUser.indicators(user) -%>
<!--<%= indicators.join(' ') %>-->
<div class=navigation>
    <div class=navigation_top>
        <div class=site_logo>Comm Comm</div>
        <div class=session_info>
            <div class=you_are>You are:</div>
            <div class=identity><%=identity%></div>
            <% if user -%>
            <div class=logout><form action="/login/logout" method="post">
                <button type="submit">Log out</button>
            </form></div>
            <% end -%>
        </div>
        <% if user -%>
        <div class=topic_tabs>
            <% tabclass = (in_topic && topic_name == "Uncategorized") ? 'topic_tab current' : 'topic_tab' -%>
            <a class="<%=tabclass%>" href="/main/topic"><span class=indicator id=indicator_0></span>Uncategorized</a>
        <% for t in Topic.order('"order", "id"').all -%>
            <% tabclass = (in_topic && topic_name == t.name) ? 'topic_tab current' : 'topic_tab' -%>
            <% indclass = (indicators[t.id] == nil ? TopicUser::OFF : indicators[t.id]) -%>
            <a class="<%=tabclass%>" href="/main/topic?topic=<%=t.id%>"><span class="<%=indclass%>" id="indicator_<%=t.id%>"></span><%=t.name%></a>
        <% end -%>
        <div class=tab_gap></div>
            <% tabclass = (in_topic && topic_name == "_SETTINGS") ? 'topic_tab current settings_tab' : 'topic_tab settings_tab' -%>
            <a class="<%=tabclass%>" href="/main/settings"><span class=indicator id=indicator__SETTINGS></span>Settings</a>
        </div>
        <% end -%>
    </div>
    <div class=navigation_bottom></div>
</div>
<div class=content>

<%= yield %>

</div>
</body>
</html>
