<!DOCTYPE html>
<html>
<head>
    <title>Comm-Comm</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>
<% user = User.find_by_session(session['session_id']) -%>
<% identity = user ? user.email : "not logged in." -%>
<div class=navigation>
    <div class=site_logo>Comm-Comm</div>
    <div class=you_are>You are logged in as:</div>
    <div class=identity><%=identity%></div>
    <% if user -%>
    <div class=logout><form action="/login/logout" method="post">
        <button type="submit">Log out</button>
    </form></div>
    <% end -%>
</div>
<div class=content>

<%= yield %>

</div>
</body>
</html>
